
@import "tailwindcss";

*{
  font-family: "Nunito"  , sans-serif;
}
.projects-back{
  background-image: url("../src/assets/projectsback.png");
}
.contact-back{
  background-image: url("../src/assets/contactback.png");
}


.hero{
  background: url("./assets/background.jpg");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}